<div class="flex justify-center mt-2">
    <input type="text" class="border w-96 p-2 rounded" [(ngModel)]="filteredString" placeholder="Search pokemon...">
</div>
<div class="flex flex-wrap flex-row justify-center">
    <app-pokemon-list-item *ngFor="let pokemon of pokemons | filter:filteredString | paginate:{itemsPerPage: 30,currentPage: cp}  "
    [pokemon]="pokemon" 
    [ngClass]="{'bg-red-500': pokemon.element == 'Fire', 
    'bg-yellow-300': pokemon.element == 'Electric', 
    'bg-blue-500': pokemon.element == 'Water',
    'bg-green-500': pokemon.element == 'Grass',
    'bg-green-300': pokemon.element == 'Bug',
    'bg-yellow-900': pokemon.element == 'Rock',
    'bg-slate-300': pokemon.element == 'Normal',
    'bg-orange-300': pokemon.element == 'Fighting',
    'bg-purple-700': pokemon.element == 'Psychic',
    'bg-lime-300': pokemon.element == 'Poison',
    'bg-amber-900': pokemon.element == 'Ground',
    'bg-blue-200': pokemon.element == 'Ice',
    'bg-pink-300': pokemon.element == 'Fairy',
    'bg-amber-200': pokemon.element == 'Dragon'}"
    class="flex flex-col border border-gray-900 m-2 w-40 rounded p-2 shadow">
    </app-pokemon-list-item>
</div>
<div class="pagination-div mb-5 mt-3">
    <div *ngIf="pokemons.length > 10;" >
        <pagination-controls class="pagination" (pageChange)="cp = $event"></pagination-controls>
    </div>
</div>
