.pagination /deep/ .ngx-pagination{
    margin: 0 auto;
    background-color: rgb(226, 212, 60);
    border-radius: 5px;
}

.pagination-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
