<div *ngIf="displayPokemon" class="relative ">
    <img [src]="pokemon?.image" alt="image" class="w-80 p-3">
    <span class="absolute top-0 border rounded text-xs bg-slate-100 shadow">HP: <strong>{{ pokemon?.health }}</strong></span>
    <app-catch-pokemon-button [pokemonId]="pokemon!.id"></app-catch-pokemon-button>
    <span *ngIf="showWins">{{pokemon?.wins}}<span class="material-icons">military_tech</span></span>
    <div class="flex flex-col items-center">
        <span >{{ pokemon?.name }} <span (click)="showPokemonInfo()" class="material-icons mt-1">keyboard_double_arrow_down</span></span>
        <div *ngIf="showInfo" class="flex flex-col w-36 p-2 rounded bg-yellow-200 items-center shadow">
            <span>Experience: {{ pokemon?.baseExperience }}</span>
            <span>Type: {{ pokemon?.element }}</span>
            <span>{{ pokemon?.ability1 }}</span>
            <span>{{ pokemon?.ability2 }}</span>
        </div>
    </div>
</div>