<nav class="bg-blue-400 shadow-lg flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <span class="font-bold text-2xl">Pokemon Trainer</span>
    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemons" class="font-medium">Pokémons</a>
            </li>
            <li class="px-4" *ngIf="pokemons.length === 2">
                <a routerLink="/battle" class="font-medium animate-pulse">Battle</a>
            </li>
            <li class="px-4">
                <a routerLink="/trainer" class="font-medium">Trainer</a>
            </li>
        </ul>
    </ng-container>
</nav>