<aside class="absolute top-0 right-0">
    <!-- <input type="image" (click)="onCaughtClick()"/> -->
    

    <ng-container *ngIf="!loading; else spinner">
        <span *ngIf="caught; then isCaught else notCaught"></span>
                <ng-template #isCaught>
                    <input type="image" (click)="onCaughtClick()" src="\assets\images\fullPokeball.png" alt="fullpokeball" class="w-7"/>
                </ng-template>

                <span *ngIf="battle; then battleButton"></span>
                <span *ngIf="addedToBattle; then confirmedForBattle"></span>
                
                <ng-template #battleButton>
                    <button (click)="addToFight()" [hidden]="addedToBattle"><img src="\assets\images\fist.png" alt="fist" class="w-8 ml-2"></button>
                </ng-template>
                
                <ng-template #confirmedForBattle>
                    <input (click)="removeFromBattle()" type="image"  src="\assets\images\denied3.png.png" class="w-8 ml-2">                
                </ng-template>

                <ng-template #notCaught>
                    <input type="image" (click)="onCaughtClick()" src="\assets\images\emptyPokeball.png" alt="emptypokeball" class="w-7"/>
                </ng-template>
            </ng-container>
            
        
            <ng-template #spinner>
                    <span class="material-icons animate-spin">refresh</span>
                </ng-template>
</aside>