<header class="container mx-auto p-4 flex flex-col items-center ">
    <h1 class="text-3xl">Welcome to the Trainer Page</h1>
    <p class="text-lg">In here can you see your caught pokémons!</p>
    <p class="text-lg">Press the fist to add two pokémons to the fight rooster and see them fight in the battle page!</p>
    <p class="text-lg">When you have picked the two pokémons, a new navbar link will appear!</p>
    <p class="text-lg">For each pokemon win, that pokemon will get a medal counter!</p>
    <button (click)="logout()" class="border p-1.5 rounded bg-yellow-300 text-lg justify-center hover:bg-yellow-200 font-medium mt-4">Logout</button>
    <h4 class="text-xl mt-4">Your caught pokémons</h4>
</header>
<main class="container mx-auto p-4">
    <app-pokemon-list [pokemons]="catchedPokemons"></app-pokemon-list>    
</main>

