<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="flex flex-col items-center mt-8">
    <img src="\assets\images\Pokemon-Logo.png" alt="pokemonLogo" class="w-72">
    <ng-container *ngIf="!isLoading; else pokeBall">
        <fieldset class="mb-3">
            <label for="username" class="block">Username</label>
            <input type="text" 
                ngModel
                #username="ngModel"
                name="username" id="username" 
                class="border border-slate-300 p-2 rounded w-80" 
                placeholder="johndoe"
                >
                <!-- <ng-container *ngIf="isLoading">
                    <span class="material-icons animate-spin">refresh</span>
                </ng-container> -->
        </fieldset>
    
        <button type="submit"
            class="bg-yellow-400 p-2 rounded hover:bg-yellow-200 w-48"
        >Login</button>
    </ng-container>
    <ng-template #pokeBall>
        <app-loading-pokeball></app-loading-pokeball>
    </ng-template>

</form>


