<div class="battle-container">
    <div class="flex flex-col items-center pt-4">
        <h3 class="text-2xl text-white">Welcome to the battle page!</h3>
        <p class="text-lg text-white">You have choosen two pokémons to fight, just press the "Let's battle" button to see who is the winner!</p>
    </div>

    <div class="flex justify-center mt-28">
        <div class="mr-10 rounded p-3"
        [ngClass]="{'bg-red-500': pk1.element == 'Fire', 
        'bg-yellow-300': pk1.element == 'Electric', 
        'bg-blue-500': pk1.element == 'Water',
        'bg-green-500': pk1.element == 'Grass',
        'bg-green-300': pk1.element == 'Bug',
        'bg-yellow-900': pk1.element == 'Rock',
        'bg-slate-300': pk1.element == 'Normal',
        'bg-orange-300': pk1.element == 'Fighting',
        'bg-purple-700': pk1.element == 'Psychic',
        'bg-lime-300': pk1.element == 'Poison',
        'bg-amber-900': pk1.element == 'Ground',
        'bg-blue-200': pk1.element == 'Ice',
        'bg-pink-300': pk1.element == 'Fairy',
        'bg-amber-200': pk1.element == 'Dragon'}">
            <i class="font-mono consolas">{{pk1.health}} / {{pokemon1health}}</i>
            <p class="font-mono consolas">{{pk1.name}}</p>
            <img [src]="pk1.image" alt="pk1Image" [ngClass]="{'animate-bounce' : turn % 2 === 0 && pk1.health > 0 }" class="w-36">
        </div>
        
        <div class="flex flex-col items-center">
            <div>
                <button (click)="fight()" [disabled]="battleButtonDisabled" class="rounded bg-white text-black border mt-20 p-3 hover:bg-slate-300">Let's battle!</button>
            </div>
            <div class="w-80 text-center">
                <p>{{battleText}}</p>
            </div>
        </div>
        
        <div class="ml-10 rounded p-3 shadow flex flex-col"
        [ngClass]="{'bg-red-500': pk2.element == 'Fire', 
        'bg-yellow-300': pk2.element == 'Electric', 
        'bg-blue-500': pk2.element == 'Water',
        'bg-green-500': pk2.element == 'Grass',
        'bg-green-300': pk2.element == 'Bug',
        'bg-yellow-900': pk2.element == 'Rock',
        'bg-slate-300': pk2.element == 'Normal',
        'bg-orange-300': pk2.element == 'Fighting',
        'bg-purple-700': pk2.element == 'Psychic',
        'bg-lime-300': pk2.element == 'Poison',
        'bg-amber-900': pk2.element == 'Ground',
        'bg-blue-200': pk2.element == 'Ice',
        'bg-pink-300': pk2.element == 'Fairy',
        'bg-amber-200': pk2.element == 'Dragon'}">
            <i class="font-mono consolas">{{pk2.health}} / {{pokemon2health}}</i>
            <p class="font-mono consolas">{{pk2.name}}</p>
            <img [src]="pk2.image" alt="pk1Image" [ngClass]="{'animate-bounce' : turn % 2 === 1 && pk2.health > 0 }" class="w-36">
        </div>
    </div>
</div>