.battle-container{
    background-image: url(src\assets\images\battlebackground.png);
    height: 93.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}